@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*
{
    padding: 0;
    margin: 0;
    color: #fff;
    background-image: none;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
}

body
{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../img/background_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo img
{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}

.tabs
{
    display: flex;
    gap: 1rem;
}

.tabs .tab-button
{
    padding: 0.3rem 0.3rem;
    border: 0.1rem solid transparent;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs .tab-button.active {
    border-bottom: 0.1rem solid #007bff;
    color: #007bff;
}

.tabs .tab-button:hover {
    border-bottom: 0.1rem solid #007bff;
    color: #007bff;
}

.content
{
    display: flex;
}

.tab-content
{
    visibility: hidden;
}

.tab-content.active
{
    visibility: visible;
}