.home-container
{
    padding: 1rem;
}

.home-container h1
{
    font-size: 5rem;
}

.home-container h3
{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.home-container p
{
    font-size: x-large;
    text-align: justify;
    width: 40rem;
}
